<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.byline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
  <meta name="description" content="{{ site.description }}">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}public/css/poole.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}public/css/syntax.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}public/css/hyde.css">
	
  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}public/apple-touch-icon-144-precomposed.png">
                                 <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
	
  {% if page.title == "Diary" %}
  <!-- Diary -->
  <link rel="stylesheet" type="text/css" href="{{ "public/css/diary.css" | prepend: site.baseurl }}">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="{{ "public/js/jquery.popupoverlay.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "public/js/tabletop.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "public/js/sheetsee.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "public/js/diary.js" | prepend: site.baseurl }}"></script>
  {% endif %}

  {% if page.tags contains 'nqt' %}
	  <link rel="stylesheet" type="text/css" href="{{ "public/css/nqt.css" | prepend: site.baseurl }}">
  {% elsif page.tags contains 'mentor' %}
    <link rel="stylesheet" type="text/css" href="{{ "public/css/mentor.css" | prepend: site.baseurl }}">
  {% elsif page.tags contains 'trainee' %}
    <link rel="stylesheet" type="text/css" href="{{ "public/css/trainee.css" | prepend: site.baseurl }}">
  {% endif %}

</head>
