$theme-normal-base: #163b66;
$theme-normal-highlight: #828282;

$theme-nqt-base: #E60000;
$theme-nqt-highlight: #E18484;
$theme-nqt-diary: rgba($theme-nqt-base, 0.15);

$theme-mentor-base: #9C2026;
$theme-mentor-highlight: #E18484;
$theme-mentor-diary: rgba($theme-mentor-base, 0.15);

$theme-trainee-base: #C47E14;
$theme-trainee-highlight: #F5E9D6;
$theme-trainee-diary: rgba($theme-trainee-base, 0.15);